h2 {
  font-family: sans-serif;
  color: #2C3E50;
  font-size: 3em;
}
p {
  margin: 0;
  margin-bottom: 10px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eee;
  font-family: sans-serif;
}
.contenido {
  display: flex;
}
.fila {
  display: flex;
}
.casilla {
  border: 4px solid#0DA192;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: sans-serif;
}
.contenido {
  width: 100%;
}
.juego, .pasos {
  width: 50%;
}
.juego {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.juego .tablero {
  position: relative;
}
.juego .tablero p {
  margin: 0;
}
.container-button{
  margin-top: 20px;
}
.pasos {
  display: flex;
  flex-wrap: wrap;
}
.pasos .paso {
  margin: 10px 15px;
}
.pasos .tablero .casilla {
  border: 2px solid#0DA192;
  width: 30px;
  height: 30px;
  font-size: 22px;
}
.fila:first-child .casilla {
  border-top-color: transparent;
}
.fila:last-child .casilla {
  border-bottom-color: transparent;
}
.fila .casilla:first-child {
  border-left-color: transparent;
}
.fila .casilla:last-child {
  border-right-color: transparent;
}
.barra {
  transform-origin: left top;
  width: 0%;
  height: 10px;
  position: absolute;
  background: red;
  top: 38px;
  left: 0px;
  transition: width .3s ease;
  border-radius: 20px;
  z-index: 1000;
}
.agrandar {
  width: 100%;
}
.fila1 {
  top: 38px;
  left: 0px;
}
.fila2 {
  top: calc(38px + 88px);
  left: 0px;
}
.fila3 {
  top: calc(38px + 88px + 88px);
  left: 0px;
}
.columna1 {
  top: 0px;
  left: 49px;
  transform: rotate(90deg)
}
.columna2 {
  top: 0px;
  left: calc(49px + 88px);
  transform: rotate(90deg)
}
.columna3 {
  top: 0px;
  left: calc(49px + 88px + 88px);
  transform: rotate(90deg)
}
.diagonal1 {
  top: -9px;
  transform: rotate(45deg);
  width: 140%;
}
.diagonal2 {
  top: calc(100% - 4px);
  transform: rotate(-45deg);
  width: 140%;
}

.btn{
  height: 32px;
  padding: 0 20px;
  border: 2px solid #2C3E50;
  color: #2C3E50;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  outline: 0;
  font-weight: bold;
  margin:0 5px;
}
.selected{
  background: #2C3E50;
  color: white
}
.cursor{
  cursor: pointer;
}